<!DOCTYPE html>

<script language="JavaScript">
    function check()
    {

	}

	if( document.modifyform.password.value == "" )
	{
		alert("请输入您的密码");
		document.modifyform.password.focus();
		return ;
	}
	document.loginform.submit();
    }

    function check_userid()
    {
        if( document.modifyform.userid.value == "" )
        {
            alert("请输入您的用户名");
            document.modifyform.userid.focus();
            return true;
        }
        else
        {
            if( document.modifyform.userid.value == respon )
        }
    }


</script>

<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>学生成绩系统</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">

      <link href="/static/css/admin-system.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Project name</a>-->
		  <h4 style="color:#FFFFFF;">学生</h4>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">退出系统</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <!--
			<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            -->
			<li><a href="/check-info/">查看个人信息</a></li>
			<li><a href="/check-grade/">查看成绩</a></li>
			<li><a href="">修改密码</a></li>
          </ul>

        </div>
          <form method = "post" name = "modifyform">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">密码修改</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              <!--
                   <tr bgcolor="cdcdcd">
                       <td width="100" align="center">旧密码</td>
                       <td width="300" align="center"><input type="text" name="oldpassword" value="" placeholder="OldPassword"></td>
                   </tr>
                   <tr>
                       <td width="100" align="center">新密码</td>
                       <td width="300" align="center"><input type="password" name="newpassword" value="" placeholder="NewPassword"></td>
                   </tr>
                   <tr bgcolor="cdcdcd">
                       <td width="100" align="center">再次确认</td>
                       <td width="300" align="center"><input type="password" name="newpassword2" value="" placeholder="Password Again"></td>
                   </tr>
               -->

                 <tr>
                     <tr>
                         <th>旧密码：</th>
                         <td><input type="password" name="oldpassword" value="" placeholder="OldPassword"></td>
                     </tr>
                     <tr>
                         <th>新密码：</th>
                         <td><input type="password" name="newpassword" value="" placeholder="NewPassword"></td>
                     </tr>
                     <tr>
                         <th>再次确认：</th>
                         <td><input type="password" name="newpassword2" value="" placeholder="Password Again"></td>
                     </tr>
                 </tr>

              </tbody>
            </table>
              <!-- 刘竑 -->
              <div class="myStyle">
					<button class="btn btn-primary btn-block" type="submit" style="width: 176px">确认修改</button>
              </div>
              <!--
              <tr>
                  <th><p class="submit"><input style = "margin-left:0px;" type="submit"  name="commit" value="确认修改" onclick="check()"></p></th>
              </tr>
              -->
          </div>
        </div>
          </form>
      </div>
    </div>

  </body>
</html>
